
.carousel-section{
    max-width: 1140px;
    margin: 0 auto;
}

.header-text{
    padding: 30px 16px 15px;
}

.header-text h4{
    /* padding: 0 16px; */
    font-size: 22px;
}


.product-card{
    width: 270px;
    display: flex;
    padding: 15px 16px;
    flex-direction: column;
    background-color: #fff;
    border-radius: 1em;
    border-bottom: 5px solid #ef2c2c;
}

.product-card .image-container{
    margin: 0;
    padding: 0;
}

.product-card .image-container img{
    max-width: 100%;
    cursor: pointer;
    transition: all .5s;
}

.product-card .image-container img:hover{
    transform:scale(1.05);
}

.product-card .body-container{
    display: flex;
    flex-direction: column;
    padding: 1em 0 2rem;
    
}

.product-card .body-container .title{
    margin: 0 0 16px;
    height: 48px;
}

.product-card .body-container .title a{
    color: #f14f85;
    text-decoration: none;
    font-size: 18px;
}

.product-card .body-container .title a:hover{
    text-decoration: underline;
}

.product-card .product-info{
    display: flex;
    justify-content: space-between;
}

.product-card .product-info span{
    font-size: 28px;
    color:#cd3266d0;
    cursor: default;
    border-bottom: 3px solid rgb(4, 156, 47);
}

.product-card .product-info button{
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 40px;
    padding: 0;
    cursor: pointer;
    background-color: rgb(246, 75, 75);
    color: #fff;
    font-size: 20px;
}

.product-card .product-info button:hover{
    background-color: rgb(253, 6, 6);
    animation: fly-to-cart 4s;
}

.shopping-cart {
    opacity: 0;
}

@keyframes fly-to-cart{
    
    0%{
        left: 0;
        top: 0;
        
    }
    45%, 50%{
        left: 500px;
        top: 60px;
    }
    80%, 90%{
        left: 0;
        top: 0;
        transform: scale(.2);
        
    }
    100%{
        left: 0;
        top: 0;
        transform: scale(.2);
    }
}

.button-link-wrapper{
    padding: 8px 16px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-link-wrapper a{
    padding: 7px 23px;
    font-size: 14px;
    line-height: 18px;
    background-color: rgb(246, 75, 75);
    border-radius: 40px;
    color: #fff;
    text-decoration: none;
}

.button-link-wrapper .slide-icons{
    display: flex;
    font-size: 16px;
    align-items: center;
    color: #cd3266d0;
    cursor: default;
}

.button-link-wrapper .slide-icons .arrow-icons svg{
    gap: 10px;
    margin-left: 20px;
    font-size: 24px;
    color: #cd3266d0;
    cursor: pointer;
}